
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
:root {
  --yellow:orange;
  --black:#111;
  --white:white;
  --light-color:#666;
  --light-bg:#eee;
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  --border:.1rem solid rgba(0,0,0,.3);
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--yellow);
}

section {
  padding: 5rem 10%;
}

.heading {
  margin-bottom: 3rem;
  font-size: 3rem;
  color: var(--black);
  text-transform: capitalize;
  padding-left: 1rem;
  border-left: 1rem solid var(--yellow);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: var(--black);
  color: var(--white);
  cursor: pointer;
  font-size: 1.7rem;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  
}

.btn:hover {
  background: var(--yellow);
  color: var(--black);

}


.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 2.8rem;
  border-radius: 5rem;
  border-top-left-radius: 0;
  border: 0.2rem solid #130f40;
  cursor: pointer;
  background:orange;
  color: #130f40;
  font-size: 1.7rem;
  overflow: hidden;
  z-index: 0;
  position: relative;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #130f40;
  z-index: -1;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  -webkit-clip-path: circle(0% at 0% 5%);
          clip-path: circle(0% at 0% 5%);
}

.btn:hover::before {
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}

.btn:hover {
  color: #fff;
}
@-webkit-keyframes fadeIn {
  0% {
    top: 50%;
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    top: 50%;
    opacity: 0;
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  padding: 1.5rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
  background: var(--white);
}

.header .logo {
  font-size: 2.5rem;
  color: var(--black);
  text-transform: capitalize;
}

.header .logo span {
  color: var(--yellow);
}

.header .navbar a {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: var(--yellow);
}

.header .icons div {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  margin-left: .3rem;
}

.header .icons div:hover {
  background: var(--black);
  color: var(--white);
  
  
}

.header #menu-btn {
  -webkit-transition: .2s linear;
  transition: .2s linear;
  
  display: none;
}

.header .search-form {
  position: absolute;
  top: 120%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70rem;
  background: var(--white);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  padding: 1rem;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -webkit-animation: fadeIn .2s linear;
          animation: fadeIn .2s linear;
}

.header .search-form.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .search-form input {
  width: 100%;
  padding: 1.2rem 1.4rem;
  background: var(--light-bg);
  font-size: 1.6rem;
  color: var(--light-color);
}

.header .search-form label {
  font-size: 2.5rem;
  color: var(--black);
  cursor: pointer;
  margin: 0 1rem;
}

.header .search-form label:hover {
  color: var(--yellow);
}

.header .login-form {
  position: absolute;
  top: 120%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40rem;
  background: var(--white);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  padding: 2rem;
  text-align: center;
  -webkit-animation: fadeIn .2s linear;
          animation: fadeIn .2s linear;
  display: none;
}

.header .login-form.active {
  display: block;
}

.header .login-form h3 {
  font-size: 2.5rem;
  color: var(--black);
  text-transform: capitalize;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.header .login-form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  background: var(--light-bg);
  font-size: 1.6rem;
  color: var(--light-color);
  margin: .7rem 0;
}

.header .login-form .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.header .login-form .flex label {
  font-size: 1.5rem;
  color: var(--light-color);
  cursor: pointer;
}

.header .login-form .flex a {
  font-size: 1.5rem;
  color: var(--light-color);
  margin-left: auto;
}

.header .login-form .flex a:hover {
  color: var(--yellow);
  text-decoration: underline;
}

.header .login-form .btn {
  width: 100%;
}

.header .login-form p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
  padding-top: 1.5rem;
}

.header .login-form p a {
  color: var(--yellow);
}

.header .login-form p a:hover {
  text-decoration: underline;
}

.contact-info {
  position: fixed;
  top: 0;
  right: 0;
  width: 35rem;
  background: var(--white);
  height: 100%;
  text-align: center;
  z-index: 1100;
  padding: 0 2rem;
  padding-top: 5rem;
  display: none;
}

.contact-info.active {
  -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  display: block;
}

.contact-info #close-contact-info {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  font-size: 4rem;
  color: var(--black);
}

.contact-info #close-contact-info:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.contact-info .info {
  padding: 2rem 0;
}

.contact-info .info i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  margin-bottom: .5rem;
}

.contact-info .info i:hover {
  background: var(--black);
  color: var(--white);
}

.contact-info .info h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  padding: 1rem 0;
}

.contact-info .info p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
}

.contact-info .share {
  padding-top: 2rem;
  border-top: var(--border);
  margin-top: 1rem;
}

.contact-info .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  margin: 0 .3rem;
}

.contact-info .share a:hover {
  background: var(--black);
  color: var(--white);
}

.home {
  padding: 0;
}

.home .slide {
  min-height: 60rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-size: cover !important;
  background-position: center !important;
}

.home .slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background: -webkit-gradient(linear, left top, right top, from(var(--white)), to(transparent)); */
  /* background: linear-gradient(90deg, var(--white), transparent); */
}

.home .slide .content {
  width: 50rem;
  position: relative;
}

.home .slide .content h3 {
  font-size: 6rem;
  color: var(--black);
  text-transform: capitalize;
  text-transform: uppercase;
}

.home .slide .content p {
  font-size: 1.4rem;
  color: var(--black);
  line-height: 2;
  padding: 1rem 0;
}

.home .swiper-button-next,
.home .swiper-button-prev {
  top: initial;
  bottom: 0;
  left: initial;
  right: 0;
  height: 7rem;
  width: 7rem;
  line-height: 7rem;
  background: var(--white);
}

.home .swiper-button-next:hover,
.home .swiper-button-prev:hover {
  background: var(--yellow);
}

.home .swiper-button-next::after,
.home .swiper-button-prev::after {
  font-size: 2rem;
  color: var(--black);
}

.home .swiper-button-prev {
  right: 7rem;
}

.about .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
}

.about .row .video {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 41rem;
          flex: 1 1 41rem;
}

.about .row .video video {
  width: 100%;
}

.about .row .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 41rem;
          flex: 1 1 41rem;
}

.about .row .content h3 {
  font-size: 3.5rem;
  color: var(--black);
  text-transform: capitalize;
}

.about .row .content p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
  padding: 1rem 0;
}

.about .box-container {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.about .box-container .box {
  text-align: center;
  background:orange;
  padding: 3rem 2rem;
  border-radius: 10px;
}
.about .box-container .box:hover{
  background:var(--light-bg);
}

.about .box-container .box h3 {
  font-size: 4rem;
  color: var(--black);
  text-transform: capitalize;
}

.about .box-container .box p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
  padding-top: .5rem;
}

.services {
  background: var(--light-bg);
}

.services .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.services .box-container .box {
  text-align: center;
  padding: 3rem;
  background: var(--white);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  border: var(--border);
}

.services .box-container .box:hover img {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.services .box-container .box img {
  height: 7rem;
  margin-bottom: .5rem;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.services .box-container .box h3 {
  font-size: 1.7rem;
  color: var(--black);
  text-transform: capitalize;
  padding: 1rem 0;
}

.services .box-container .box p {
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}

.projects {
  background: var(--black);
}

.projects .heading {
  color: var(--white);
}

.projects .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.projects .box-container .box {
  cursor: initial;
}

.projects .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.projects .box-container .box .image {
  height: 40rem;
  overflow: hidden;
}

.projects .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.projects .box-container .box .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--white);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects .box-container .box .content .info {
  padding: 1rem 2rem;
}

.projects .box-container .box .content .info h3 {
  font-size: 1.7rem;
  color: var(--black);
  text-transform: capitalize;
}

.projects .box-container .box .content .info p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
}

.projects .box-container .box .content i {
  width: 7.5rem;
  font-size: 3rem;
  background: var(--yellow);
  color: var(--white);
  cursor: pointer;
  text-align: center;
  line-height: 7.5rem;
}

.reviews .slide p {
  padding: 1.5rem;
  background: var(--light-bg);
  position: relative;
  margin-bottom: 3rem;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}

.reviews .slide p::before {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  background: var(--light-bg);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.reviews .slide .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.reviews .slide .user img {
  height: 7rem;
  width: 7rem;
}

.reviews .slide .user h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
}

.reviews .slide .user .stars {
  padding-top: .5rem;
}

.reviews .slide .user .stars i {
  font-size: 1.4rem;
  color: var(--yellow);
}

.pricing {
  background: var(--light-bg);
}

.pricing .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.pricing .box-container .box {
  background: var(--white);
  text-align: center;
  padding: 2rem;
  border: var(--border);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.pricing .box-container .box i {
  font-size: 3rem;
  height: 7rem;
  width: 7rem;
  line-height: 7rem;
  border-radius: 50%;
  margin-bottom: 2rem;
  background: var(--yellow);
  color: var(--black);
}

.pricing .box-container .box h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  font-weight: normal;
}

.pricing .box-container .box .price {
  padding: 1rem 0;
  font-size: 5rem;
  color: var(--black);
  text-transform: capitalize;
}

.pricing .box-container .box .price span {
  font-size: 2rem;
}

.pricing .box-container .box .list {
  padding: 1rem 0;
}

.pricing .box-container .box .list p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}

.contact {
  background: var(--black);
}

.contact .heading {
  color: var(--white);
}

.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.contact .row .map {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 41rem;
          flex: 1 1 41rem;
  width: 100%;
}

.contact .row form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 41rem;
          flex: 1 1 41rem;
  background: var(--white);
  padding: 2rem;
}

.contact .row form h3 {
  font-size: 2.5rem;
  color: var(--black);
  text-transform: capitalize;
}

.contact .row form .box {
  margin: .7rem 0;
  width: 100%;
  padding: 1.5rem 0;
  border-bottom: var(--border);
  font-size: 1.6rem;
  color: var(--light-color);
}

.contact .row form .box:focus {
  border-color: var(--yellow);
}

.contact .row form textarea {
  height: 15rem;
  resize: none;
}

.blogs {
  background: var(--light-bg);
}

.blogs .slide {
  text-align: center;
}

.blogs .slide:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blogs .slide .image {
  height: 25rem;
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: -3rem;
}

.blogs .slide .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.blogs .slide .content {
  padding: 2rem;
  padding-top: 5rem;
  background: var(--white);
  -webkit-box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
}

.blogs .slide .content h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
}

.blogs .slide .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}

.logo-container {
  text-align: center;
}

.logo-container img {
  height: 10rem;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.footer {
  text-align: center;
}

.footer .links .btn {
  margin: .5rem;
}

.footer .credit {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  margin-top: 2rem;
  padding-top: 1rem;
}

.footer .credit span {
  color: var(--yellow);
}

@media (max-width: 1200px) {
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 3rem 2rem;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: var(--white);
    border-top: var(--border);
    border-bottom: var(--border);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    display: block;
    margin: 2rem;
  }
}

@media (max-width: 768px) {
  .header .search-form {
    width: 90%;
  }
  .header .login-form {
    width: 90%;
  }
  .home .slide {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home .slide .content {
    text-align: center;
  }
  .home .slide .content h3 {
    font-size: 3rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .about .row .content h3 {
    font-size: 2.5rem;
  }
}
/*# sourceMappingURL=style.css.map */


.box .image img{
  width: 35em;
}

.destination .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(27rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}

.destination .box-container .box {
  border-radius: 1rem;
  overflow: hidden;
  background: #130f40;
}
.destination .box-container .box:hover {
  border-radius: 1rem;
  overflow: hidden;
  background: rgb(44, 101, 163);
}

.destination .box-container .box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.destination .box-container .box .image {
  height: 20rem;
  overflow: hidden;
  width: 100%;
}

.destination .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.destination .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.destination .box-container .box .content h3 {
  font-size: 2rem;
  color: #fff;
}

.destination .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.destination .box-container .box .content a {
  font-size: 1.7rem;
  
  font-family: "Sofia",sans-serif;
}

.destination .box-container .box .content a:hover i {
  padding-left: 1rem;
  
}

.destination .box-container .box .content a i {
  padding-right: .5rem;
}









.home {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background: url(../images/service_home.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  
  .home .content {
    width: 50rem;
    margin-right: 84rem;
  }
  
  .home .content h3 {
    font-size: 6rem;
    color: black;
    padding-bottom: 1rem;
  }
  
  .home .content h3 span {
    color: #e67e22;
  }
  
  .home .content .btn {
    color: #fff;
    border-color: #fff;
  }
  
  .home .content .btn:hover {
    color: #130f40;
  }
  
  .home .content .btn::before {
    background: #fff;
  }
  
  .home .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12rem;
  }
  




  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
  }
  
  .about .image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
  }
  
  .about .image img {
    width: 100%;
  }
  
  .about .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
  }
  
  .about .content h3 {
    color: #130f40;
    font-size: 4rem;
  }
  
  .about .content h3 span {
    color: #e67e22;
  }
  
  .about .content p {
    font-size: 1.6rem;
    color: #666;
    padding: 1rem 0;
    line-height: 2;
  }
  
  .dog-food,
  .cat-food {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 2rem 0;
  }
  
  .dog-food .image,
  .cat-food .image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
  }
  
  .dog-food .image img,
  .cat-food .image img {
    width: 100%;
  }
  
  .dog-food .content,
  .cat-food .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
    text-align: center;
    padding: 2rem;
  }
  
  .dog-food .content h3,
  .cat-food .content h3 {
    font-size: 3.5rem;
    color: #130f40;
  }
  
  .dog-food .content h3 span,
  .cat-food .content h3 span {
    color: #e67e22;
  }
  
  .dog-food .content p,
  .cat-food .content p {
    padding: 1rem 0;
    line-height: 2;
    color: #666;
    font-size: 1.6rem;
  }
  
  .dog-food .content .amount,
  .cat-food .content .amount {
    font-size: 3.5rem;
    color: #130f40;
    padding: .5rem 0;
  }
  
  .dog-food .content a img,
  .cat-food .content a img {
    height: 15rem;
    margin-top: 1rem;
  }
  
  .dog-food .content a:hover img,
  .cat-food .content a:hover img {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  
  .cat-food {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  
  .shop .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
  }
  
  .shop .box-container .box {
    position: relative;
    overflow: hidden;
  }
  
  .shop .box-container .box:hover .image img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  
  .shop .box-container .box:hover .icons {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  
  .shop .box-container .box .image {
    height: 45rem;
    width: 100%;
    overflow: hidden;
  }
  
  .shop .box-container .box .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .shop .box-container .box .icons {
    position: absolute;
    top: 1rem;
    right: 2rem;
    z-index: 10;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  
  .shop .box-container .box .icons a {
    display: block;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    font-size: 2.2rem;
    margin-top: 1rem;
    background: #fff;
    color: #130f40;
    text-align: center;
  }
  
  .shop .box-container .box .icons a:hover {
    color: #fff;
    background: #e67e22;
  }
  
  .shop .box-container .box .content {
    padding: 1rem 0;
    text-align: center;
  }
  
  .shop .box-container .box .content h3 {
    font-size: 2.2rem;
    color: #130f40;
    padding-bottom: .5rem;
  }
  
  .shop .box-container .box .content .amount {
    font-size: 2rem;
    color: #e67e22;
  }
  
  .services .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
  }
  
  .services .box-container .box {
    background: #eee;
    padding: 3rem;
    text-align: center;
    border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;
  }
  
  .services .box-container .box:nth-child(even) {
    border-radius: 79% 21% 81% 19% / 58% 93% 7% 42%;
  }
  
  .services .box-container .box:hover {
    border-radius: .5rem;
  }
  
  .services .box-container .box i {
    height: 6.5rem;
    width: 6.5rem;
    line-height: 6.5rem;
    font-size: 3rem;
    color: #fff;
    background: #e67e22;
    border-radius: 50%;
    margin-bottom: .5rem;
  }
  
  .services .box-container .box h3 {
    font-size: 2.2rem;
    color: #130f40;
    padding: 1rem 0;
  }
  
  .plan .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
  }
  
  .plan .box-container .box {
    position: relative;
    padding: 2rem;
    border-radius: .5rem;
    position: relative;
    margin-bottom: 2rem;
    background: #eee;
  }
  
  .plan .box-container .box .btn {
    position: absolute;
    bottom: -2rem;
    right: 2rem;
    background: #fff;
  }
  
  .plan .box-container .box .title {
    text-align: center;
    color: #e67e22;
    font-size: 2rem;
  }
  
  .plan .box-container .box .day {
    text-align: center;
    color: #130f40;
    font-size: 3.5rem;
  }
  
  .plan .box-container .box .icon {
    color: #e67e22;
    font-size: 5rem;
    padding: 2rem 0;
  }
  
  .plan .box-container .box .list {
    margin: 1rem 0;
  }
  
  .plan .box-container .box .list p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;
  }
  
  .plan .box-container .box .list p span {
    color: #e67e22;
  }
  
  .plan .box-container .box .amount {
    font-size: 5rem;
    font-weight: bolder;
    color: #130f40;
  }
  
  .plan .box-container .box .amount span {
    font-size: 3rem;
  }
  
  .contact {
    padding: 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 3rem;
  }
  
  .contact .image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
  }
  
  .contact .image img {
    width: 100%;
  }
  
  .contact form {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
    padding: 2rem 7%;
  }
  
  .contact form .btn {
    width: 100%;
    text-align: center;
  }
  
  .contact form .btn:hover {
    background: #130f40;
  }
  
  .contact form h3 {
    font-size: 3rem;
    padding-bottom: 1rem;
    color: #130f40;
  }
  
  .contact form .box, .contact form textarea {
    width: 100%;
    border-bottom: 0.2rem solid #130f40;
    border-width: .1rem;
    font-size: 1.6rem;
    text-transform: none;
    color: #130f40;
    padding: 1.5rem 0;
    margin: 1rem 0;
  }
  
  .contact form textarea {
    height: 15rem;
    resize: none;
  }
  


  .counter .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
  }
  
  .counter .box-container .box{
    margin:2rem 5rem;
    text-align: center;
  }
  
  .counter .box-container .box i{
    color:var(--blue);
    font-size: 5rem;
  }
  
  .counter .box-container .box span{
    color:var(--black);
    font-size: 3rem;
    display: block;
    padding:1rem 0;
  }
  
  .counter .box-container .box h3{
    color:#666;
  }










  .footer {
    position: relative;
    background: url(../) no-repeat;
    background-position: center;
    background-size: center;
    padding-top: 10rem;
    padding-bottom: 2rem;
  }
  
  .footer img {
    position: absolute;
    top: 0;
    left: 0;
    height: 10rem;
    width: 100%;
  }
  
  .footer .share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.5rem;
  }
  
  .footer .share a {
    color: #fff;
    border-color: #fff;
  }
  
  .footer .share a:hover {
    color: #130f40;
  }
  
  .footer .share a::before {
    background: #fff;
  }
  
  .footer .share a i {
    padding-right: .5rem;
  }
  
  .footer .credit {
    text-align: center;
    color: #fff;
    font-size: 2rem;
    padding: 2rem 1rem;
    margin-top: 2.5rem;
  }
  
  .footer .credit span {
    color: #e67e22;
  }
  
  @media (max-width: 991px) {
    html {
      font-size: 55%;
    }
    .header {
      padding: 2rem;
    }
    section {
      padding: 5rem 2rem;
    }
    .home {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      background-position: right;
    }
    .home .content {
      text-align: center;
      padding-bottom: 5rem;
    }
    .home .content h3 {
      font-size: 4.5rem;
    }
  }
  
  @media (max-width: 768px) {
    #menu-btn {
      display: inline-block;
    }
    .header .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background: #fff;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
              clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar.active {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .navbar a {
      display: block;
      margin: 2rem;
      font-size: 2rem;
    }
  }
  
  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }
    .header .login-form {
      width: 90%;
    }
  }
  /*# sourceMappingURL=style.css.map */